 /* ------- ABOUT -------  */
#about-me {
    background-color: rgb(var(--rgb-rose));
}
#about-me h2 {
    background-color: rgb(var(--rgb-rose));
}
#about-me h3 {
    color: var(--dark);
    font-family: var(--font-family-main);
}
#about-me p {
    color: var(--dark);
}
#about-me li {
    color: var(--dark);
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;  
}