/* ------- HERO ------- */
#Korrin {
    font-family: var(--font-family-main);
    font-weight: 700;
    font-style: normal;
    color: var(--dark);
}
#Korrin span {
    text-shadow: var(--text-shadow-yellow);
}
.hero-cont {
    background-image: url(../../assets/images/hero-redu.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 110vh;
}
.hero-cont h2, #Korrin span {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-style: italic;
    color: var(--yellow);
}
.hero-cont h2 {
    color: var(--dark);
}