.navbar {  
    font-style: normal;
    color: var(--dark);
}
.navbar-brand h3{
    font-family: var(--font-family-code);
    font-weight: 800;
    color: var(--dark);
    transition: var(--transition-text-shadow);
}
.nav-link {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    color: var(--dark);
    transition: var(--transition-text-shadow); 
}
.navbar-brand h3:hover, .nav-link:hover {
    color: var(--yellow);
    text-shadow: var(--text-shadow-yellow);
}

/* adds styling to the nav menu after the menu items are collapsed */
@media only screen and (max-width: 992px) {
    .navbar-collapse {
        display: flex;
        justify-content: end;
        padding-right: .5rem;
        text-align: center;
    };
    .navbar-nav {
        max-width: 100px;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgba(var(—rgb-yellow), 0.9);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: var(—box-shadow);
    }
    .nav-link {
        border-bottom: 1px solid var(--yellow);
    }
    .nav-link .contact {
        border-bottom: 0px;
    }
    .nav-link:hover {
        color: rgb(var(--rgb-rose)) !important;
        text-shadow: var(--text-shadow-hover);
    }
}