/* ------- Footer ------- */
#footer {
    background-color: var(--dark);
}
#footer .nav-link,
#footer h6,
#footer p {
    color: var(--rose);
}
#footer .nav-link:hover {
    color: var(--yellow);
    text-shadow: var(--text-shadow-hover);
}
.footer-link-cont {
    border-left: 3px solid var(--rose);
    /* padding-left: 1rem; */
}
/* #footer .contact-content {
    border-color: var(--rose);
}
#footer #contact h3 {
    background-color: var(--dark);
    color: var(--rose);
    font-family: var(--font-family-main);
} */
/* #footer .btn {
    background-color: var(--rose);
} */

